.user {
    background: url(../src/user.svg) left no-repeat;
    background-size: 35px 35px;
    height:30px;
    font:20px Ms Sans Serif;
    padding-left: 35px;
    color: gray;
    width: 35 px;
    border: 1px solid gray; 
  }